<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KaitRPG</title>
    <style>
        #result {
            overflow-y: scroll;
            height: 300px;
        }
        main {
            width: 600px;
            margin: 0 auto;
        }
        textarea {
            width: 100%;
            background: #eee;
            border: 1px solid #bebebe;
            border-radius: 5px;
        }
        input {
            background: #eee;
            border: 1px solid #bebebe;
            border-radius: 5px;
        }
        input[type="button"]:hover {
            background: #bbb;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>    
    <script type="text/javascript">
'use strict';
$(function() {

    function createPostObj(text, time) {
        var year = time.getFullYear();
        var month = time.getMonth() + 1;
        var day = time.getDate();
        var hour = time.getHours();
        var minute = time.getMinutes();
        var second = time.getSeconds();
        var millisecond = time.getMilliseconds();
        return {
            "name" : $('#name').val(), 
            "text" : text,
            "year" : year,
            "month" : month,
            "day" : day,
            "hour" : hour,
            "minute" : minute,
            "second" : second,
            "millisecond" : millisecond
        };
    }

    function voiceRecognition() {
        window.SpeechRecognition = window.SpeechRecognition || webkitSpeechRecognition;

        var recognition = new webkitSpeechRecognition();
        recognition.lang = 'ja';
        recognition.interimResults = true;
        recognition.continuous = true;

        var isSpeech = false;
        var date = new Date();

        recognition.onsoundstart = function() {
            $('#status').html("認識中");
        };

        recognition.onnomatch = function() {
            $('#status').html("もう一度試してください");
        };

        recognition.onerror = function() {
            $('#status').html("エラー");
            voiceRecognition();
        };
        recognition.onsoundend = function() {
            $('#status').html("停止中");
            voiceRecognition();
        };

        recognition.onresult = function(event) {
            var results = event.results;
            var inner = document.getElementById('result_text').innerHTML;
            for (var i = event.resultIndex; i < results.length; i++) {
                if (results[i].isFinal) {
                    var result = results[i][0].transcript;
                    document.getElementById('result_text').innerHTML = result;
                    $.post('/post', createPostObj(result, date), function(event) {
                        console.log(event);
                    });

                    voiceRecognition();
                } else {
                    document.getElementById('result_text').innerHTML = results[i][0].transcript;
                    isSpeech = true;
                }
            }
        }
        document.getElementById('status').innerHTML = 'start';
        recognition.start();
    }

    $('#start').click(function() {
        voiceRecognition();
    });

    $('#download').click(function() {
        var fileName = window.prompt("ファイル名を決めてください", "minutes");
        $.ajax({
            url: '/download/' + fileName,
            type: 'POST',
        }).done(function(data) {
            console.log(data);
            var downLoadLink = document.createElement('a');
            downLoadLink.download = fileName + '.txt';
            downLoadLink.href = URL.createObjectURL(new Blob([data], {
                type: 'text.plain'
            }));
            downLoadLink.dataset.downloadurl = ["text/plain", downLoadLink.download, downLoadLink.href].join(":");
            downLoadLink.click();
        });
    });

    $('#reset').click(function() {
        $('#result').empty();
        $.ajax({
            url: '/reset',
            type: 'POST',
        }).done(function() {
            window.alert("会話データをリセットしました。");
        });
    });

    function comeBack() {
        $.ajax({
            url: '/interval',
            type: 'POST',
        }).done(function(res) {
            $('#result').empty();
            var json = JSON.parse(res);
            console.log(json);
            for(var i in json) {
                $('#result').append('<p>'+ json[i].name + " : " +json[i].text +'</p>');
            }
        });
    };

    (function() {
        setInterval(comeBack, 1000);
    })();

});
    </script>     
</head>
<body>
    <main>
        <p><input id="name" type="text" placeholder="user name"></p>
        <p><textarea readonly id="result_text" cols="100" rows="5"></textarea></p>
        <p><textarea readonly id="status" cols="100" rows="1"></textarea></p>
        <p><input id="start" type="button" value="録音開始"></p>
        <p><input id="download" type="button" value="ダウンロード"></p>
        <p><input id="reset" type="button" value="リセット"></p>
        <p><div id="result"></p>
    </main>
</body>
</html>